table {
    font-family: arial, sans-serif;
    width: 624px;
    position: relative;
}

.schedule-container {
    width: 100%;
    overflow: scroll;
}
  
.mat-column-lunes {
    border-right: 1px dashed rgba(113, 113, 113, 0.277);
    text-align: center;
    max-width: 100px;
    width: 100px;
}

.mat-column-martes {
    border-right: 1px dashed rgba(113, 113, 113, 0.277);
    text-align: center;
    max-width: 100px;
    width: 100px;
}
  
.mat-column-miercoles {
    border-right: 1px dashed rgba(113, 113, 113, 0.277);
    text-align: center;
    max-width: 100px;
    width: 100px;
}

.mat-column-jueves {
    border-right: 1px dashed rgba(113, 113, 113, 0.277);
    text-align: center;
    max-width: 100px;
    width: 100px;
}

.mat-column-viernes {
    border-right: 1px dashed rgba(113, 113, 113, 0.277);
    text-align: center;
    max-width: 100px;
    width: 100px;
}   

.mat-mdc-cell{
    height: 60px;
}


.time {
    background-color: rgb(223, 86, 86);
    min-height: 45px;
    color: white;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 18px;
}

.schedule-time {
    padding-bottom: 25px;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}