table {
    font-family: arial, sans-serif;
    width: 100%;
    position: relative;
}

.schedule-container {
    width: 100%;
    overflow: scroll;
}
  
.mat-column-lunes {
    border-right: 1px dashed rgba(113, 113, 113, 0.277);
    text-align: center;
    max-width: 120px;
    width: 120px;
}

.mat-column-martes {
    border-right: 1px dashed rgba(113, 113, 113, 0.277);
    text-align: center;
    max-width: 120px;
    width: 120px;
}
  
.mat-column-miercoles {
    border-right: 1px dashed rgba(113, 113, 113, 0.277);
    text-align: center;
    max-width: 120px;
    width: 120px;
}

.mat-column-jueves {
    border-right: 1px dashed rgba(113, 113, 113, 0.277);
    text-align: center;
    max-width: 120px;
    width: 120px;
}

.mat-column-viernes {
    border-right: 1px dashed rgba(113, 113, 113, 0.277);
    text-align: center;
    max-width: 120px;
    width: 120px;

}   

.mat-mdc-cell{
padding: 5px;
}

.leyenda{
    margin-top: 20px;
    margin-bottom: 20px;
}

.time {
    background-color: rgb(223, 86, 86);
    min-height: 45px;
    color: white;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 18px;
}

.schedule-time {
    padding-bottom: 25px;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.circle-small{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

@media (max-width: 700px) {

    .mat-column-lunes {
        border-right: 1px dashed rgba(113, 113, 113, 0.277);
        text-align: center;
        max-width: 120px;
        width: 120px;
    }
    
    .mat-column-martes {
        border-right: 1px dashed rgba(113, 113, 113, 0.277);
        text-align: center;
        max-width: 120px;
        width: 120px;
    }
      
    .mat-column-miercoles {
        border-right: 1px dashed rgba(113, 113, 113, 0.277);
        text-align: center;
        max-width: 120px;
        width: 120px;
    }
    
    .mat-column-jueves {
        border-right: 1px dashed rgba(113, 113, 113, 0.277);
        text-align: center;
        max-width: 120px;
        width: 120px;
    }
    
    .mat-column-viernes {
        border-right: 1px dashed rgba(113, 113, 113, 0.277);
        text-align: center;
        max-width: 120px;
        width: 120px;
    
    }  

    .circle-small{
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }
}