mat-icon{
    cursor:pointer;
 }
 .logo{
    margin:20px;
}
.logo img{
    width: 18vw;
}

hr{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: rgb(249, 249, 249); /* old IE */
    background-color: rgb(255, 255, 255);
    width:50%;
}

.login-card{
    width: 40%;
    height: 90%;
    margin: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.853);
}
h2{
    font-size: 30px;
}
mat-card{
    border-radius: 30px;
    padding: 50px;
}
.boton-login{
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    background-color:rgb(126, 108, 228); }

.texto-sugerencia{
    font-size: 12px;
    margin-bottom: 10px;
}

input{
    height: 20px;
    
}

.login-input{
    width: 300px;
    height: 20px;
    font-size: medium;
}
@media (max-width: 600px) {

    mat-error{
        font-size: 10px;
        margin: 5px;
    }

    .container{
        height: 850px; 
     }
    
    .login-card{
        width: 80%;
        height: 90%;
        margin: 50px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.853);
    }

    h2{
        text-align: center;
        font-size: 20px;
    }

    .login-input{
        width: 150px;
        height: 20px;
        font-size: medium;
    }
}

mat-label{
    color:white;
}
::ng-deep .mdc-notched-outline__leading{
    border-color: rgba(255, 255, 255, 0.804)!important;
    color: white;
    
}
::ng-deep .mdc-notched-outline__notch{
    border-color: rgba(255, 255, 255, 0.804)!important;
    color: white;
}
::ng-deep .mdc-notched-outline__trailing{
    border-color: rgba(255, 255, 255, 0.804)!important;
    color: white;
}
::ng-deep .mat-mdc-select-value .ng-tns-c134-9{
color: white!important;
}
input {
    color: white !important;
}