<div class="container">
    <div class="logo"><img src="https://static.wixstatic.com/media/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png/v1/fill/w_352,h_226,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png"></div>
    <p class="welcome-text">¡Bienvenido!</p>
    <p class="welcome-subtext">Si es tu primera vez aquí, entonces </p> 


    <button routerLink="login" class="button-82-pushable" role="button">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
            <a [routerLink] = "['/login/register']" style="color:white">
                Registrate  
            </a>
        </span>
    </button>

    <p class="welcome-subtext2">Si ya te has registrado, por favor <span><a [routerLink] = "['/login']" class="login-animation"  >inicia sesión</a></span></p> 
    

    <div><span>Contacto: (511) 960 192 400   <a href="https://api.whatsapp.com/send?phone=960192400"> (WhatsApp) </a><br>
         Correo: activemode@sjm.edu.pe </span> <br>
        <span><a [routerLink] = "['/terminos']" class="login-animation"  >Términos, condiciones y políticas de privacidad</a></span>
    </div>
   
</div>
