<h2 class="titulo-componente">Gestión del parametro Periodo</h2>

<div class="container" fxLayout="row warp" fxLayoutAlign="space-evenly start" >

  <div class="container-cartilla">
    <mat-card class="card-nuevo" >
      <mat-card-content>
        
        <table mat-table [dataSource]="dataSource"  class="demo-table" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="periodo_fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Periodo</th>
              <td mat-cell *matCellDef="let element">{{element.periodo_fecha | date: 'MMMM - y' }}</td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
              <td  mat-cell *matCellDef="let element">{{element.estado}}</td>
            </ng-container>
      
            <!-- Weight Column -->
            <ng-container matColumnDef="info">
              <th class="boton-tabla" mat-header-cell *matHeaderCellDef>info</th>
              <td class="boton-tabla" mat-cell *matCellDef="let element">
                <div *ngIf="element.estado == 'ACTIVO'; else otro">
                    <button class="boton-check" mat-mini-fab color="accent" (click)="cambiarEstado(element.id)">
                      <mat-icon>visibility_off</mat-icon>
                      </button>
                      <button class="boton-check" mat-mini-fab color="warn" (click)="eliminarRegistro(element.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
    
                </div>
                <ng-template #otro>
                    <button class="boton-check" mat-mini-fab color="primary" (click)="cambiarEstado(element.id)">
                      <mat-icon>visibility</mat-icon>
                      </button>
                      <button class="boton-check" mat-mini-fab color="warn" (click)="eliminarRegistro(element.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
    
                </ng-template>

              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 5]"
                      showFirstLastButtons
                      aria-label="Seleccionar página de alumnos">
        </mat-paginator>   

      </mat-card-content>
  </mat-card>

  </div>

  <div class="container-cartilla">

    <mat-card class="card-nuevo" >
      <mat-card-content>
        <form [formGroup]="formObjetos">

          <div formArrayName="propiedades">
              <div fxLayout="row" fxLayoutAlign="none center" *ngFor="let propiedad of propiedades.controls; let i= index">
                  <div [formGroupName]="i">
                    <button class="boton-check" mat-mini-fab color="warn" disabled>
                      {{i+1}}
                      </button>

                      <mat-form-field class="input-propiedades" appearance="outline">
                        <mat-label>Mes</mat-label>
                          <input matInput placeholder="" formControlName="mes">
                      </mat-form-field>

                      <mat-form-field class="input-propiedades" appearance="outline">
                        <mat-label>Año</mat-label>
                          <input matInput placeholder="" formControlName="ano">
                      </mat-form-field>

                      <mat-icon class="icono-delete" (click)="eliminarPropiedad(i)">delete</mat-icon>

                      <mat-divider></mat-divider>
                  </div>
                  
              </div>
          </div>
              
        </form>                
      </mat-card-content>

      <mat-card-footer fxLayout="row" fxLayoutAlign="center center">

        <button class="boton-footer" mat-raised-button color="primary" (click)="agregarPropiedad()">Añadir nuevo</button>
        <button class="boton-footer" mat-raised-button color="primary" [disabled]="!formObjetos.valid || formObjetos.value.propiedades.length == 0" (click)="save()">Guardar</button>
      </mat-card-footer>
  </mat-card>

    


  </div>
    
        
</div>