<div class="container">
    <b>Cursos por inscribirse</b>
    <div *ngFor="let curso of listaCursosNuevos">
        <mat-card class="card-nuevo" >
            <mat-card-header>
                <mat-card-title-group fxLayout.lt-md="column">
                    <p>{{curso.nombre | titlecase}}</p> 
                    <p>{{curso.horarioDias}} - {{curso.horarioHoras}}</p>
                    <div class="borrar" (click)="eliminarCurso(curso.idCursoPeriodo)">
                        <mat-icon  class="icono-eliminado" fontIcon="delete_outline"></mat-icon>
                    </div>
                </mat-card-title-group>
            </mat-card-header>
        </mat-card>
    </div>
</div>