<div class="container">
    <div *ngFor="let curso of listaCursos">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{curso.nombre | titlecase}}</mat-card-title>
                    <mat-card-subtitle>{{curso.horario}} {{curso.idCursoPeriodo}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
        </mat-card>
    </div>

    <div *ngFor="let curso of listaCursosNuevos">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{curso.nombre | titlecase}}</mat-card-title>
                    <mat-card-subtitle>{{curso.horario}} {{curso.idCursoPeriodo}}</mat-card-subtitle>
                </mat-card-title-group>
                <div class="borrar" (click)="eliminarCurso(curso.idCursoPeriodo)">
                    <mat-icon fontIcon="delete_outline"></mat-icon>
                </div>
            </mat-card-header>
        </mat-card>
    </div>
</div>