
  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step [stepControl]="cursoForm">


                <form [formGroup]="cursoForm">

                  <mat-form-field class="input-propiedades" appearance="fill">
                    <mat-label>Curso</mat-label>
                    <mat-select formControlName="curso" (selectionChange)="cambioCurso($event.value)">
                        <mat-option *ngFor="let curso of cursos" [value]="curso.idCurso">
                            {{curso.name | titlecase}} - {{curso.month}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="input-propiedades" appearance="fill">
                    <mat-label>Dias</mat-label>
                    <mat-select formControlName="dias" (selectionChange)="cambioDia()">
                        <mat-option *ngFor="let dia of dias" [value]="dia.idDia">
                            {{dia.ratio}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="input-propiedades" appearance="fill">
                    <mat-label>Horario</mat-label>
                    <mat-select formControlName="nivel">
                        <mat-option *ngFor="let nivel of niveles" [value]="nivel.idNivel">
                            {{nivel.time}} Recomendando: {{nivel.name}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>


                  <app-curso [curso]="curso"></app-curso>

                  



          
                </form>
                
    



      

    </mat-step>

    <mat-step >


    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

