.mat-stepper-vertical {
    margin-top: 8px;
  }
.card{
  padding-left: 10px;
  padding-right: 10px;

  margin-bottom: 10px;
  margin-top: 10px;
}

.card-general{
  width: 80%;
  height: 90%;
  margin: 90px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.853);
  
}
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

.border{
  border: solid 2px green;
}

.boton-semifinal{
  margin-right: 20px;
}

.boton-monto{
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
}

.form{
  width: 350px;
  padding-left: 0px;
  padding-right: 0px;
}

.info{
  width: 350px;
  padding-left: 0px;
  padding-right: 0px;
}

.calendario{
  width: 700px;
  padding-left: 0px;
  padding-right: 0px;
}

.mat-step-header {
  pointer-events: none;
}

.mat-step {
  pointer-events: none;
}
.mat-vertical-stepper-header{
  pointer-events: none;
}
