<div style="margin:20px;" fxLayout="column" fxLayoutAlign="start">
  <button routerLink="/matricula/dashboard" mat-button style="transform:scale(2);"> 
    <mat-icon style="margin-left: 10px; color: rgb(232, 230, 242)">home</mat-icon>
  </button> 
</div>

<!--loader-->
<div *ngIf="loader" class="loader-spinner"
fxLayout="column" fxLayoutAlign="center center"
>
  <mat-spinner color="primary"></mat-spinner>
</div>


<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100" class="animate__animated animate__fadeIn animate__fast">
  <mat-card class="card-general">
    <mat-stepper orientation="vertical" [linear]="true" #stepper>
      <mat-step fxFill="80" [editable]="esEditable">
        <ng-template matStepLabel>Seleccionar el mes y los cursos a matricular</ng-template>

        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          
          <form [formGroup]="mesForm">
            <mat-form-field class="input-propiedades" appearance="outline">
              <mat-label>Mes</mat-label>
              <mat-select formControlName="mes" (selectionChange)="seleccionMes()">
                  <mat-option *ngFor="let mes of meses" [value]="mes.periodo_fecha" >
                      {{mes.mes}} - {{mes.ano}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </form>

          <mat-card class= "aviso">
            <p class="texto-aviso"> En caso de que el curso al que quiera matricularse aparesca cerrado, llame al número 960 192 400  para preguntar si existe alguna vacante extraordinaria</p>
          </mat-card>

        </div>
        
          
    
          <div *ngIf=" mesForm.controls['mes'].value != '' " fxLayout="column" fxLayoutAlign="start">
    
            <div class="" fxLayout="row warp" fxLayoutAlign="space-evenly">
          
                      <!-- formularios -->
                <div class="form">
    
                  <mat-card class="card">
                   
                  <form [formGroup]="cursoForm" fxLayout="column" fxLayoutAlign="start">
                    <b style="margin: 15px ;font-size:18px">Elige la fecha y hora</b>
                    <mat-form-field class="input-propiedades" appearance="outline">
                      <mat-label>Curso</mat-label>
                      <mat-select formControlName="curso" (selectionChange)="cambioCurso()">
                          <mat-option *ngFor="let curso of cursos" [value]="curso.idCurso" [disabled]="curso.state=='CERRADO'">
                              {{curso.name | titlecase}} - {{curso.month}} {{(curso.state == 'CERRADO' ? '(CERRADO)' : '')}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="input-propiedades" appearance="outline">
                      <mat-label>Horario</mat-label>
                      <mat-select formControlName="nivel" (selectionChange)="cambioNivel()">
                          <mat-option *ngFor="let nivel of niveles" [value]="nivel.idNivel" [disabled]="nivel.state=='CERRADO'">
                              {{nivel.time}} ({{nivel.name}}) {{(nivel.state == 'CERRADO' ? '(CERRADO)' : '')}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="input-propiedades" appearance="outline">
                      <mat-label>Veces por semana</mat-label>
                      <mat-select formControlName="ratio" (selectionChange)="cambioRatio()">
                          <mat-option *ngFor="let ratio of ratios" [value]="ratio.idRatio" [disabled]="ratio.state=='CERRADO'">
                              {{ratio.ratio}} {{(ratio.state == 'CERRADO' ? '(CERRADO)' : '')}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="input-propiedades" appearance="outline">
                      <mat-label>Dias</mat-label>
                      <mat-select formControlName="dia" (selectionChange)="eleccionDia()">
                          <mat-option *ngFor="let dia of dias" [value]="dia.idDias" [disabled]="dia.state=='CERRADO'">
                              {{dia.name}} {{(dia.state == 'CERRADO' ? '(CERRADO)' : '')}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
    
                </mat-card>

                  <div class="info">
                    <mat-card class="card">
        
                    <!-- lista de cursos inscritos -->
                    <app-curso-lista [listaCursos]="listaCursos" [listaCursosNuevos]="listaCursosNuevos" (eliminar)="eliminar($event)"></app-curso-lista>
                    <!-- info del curso actual -->
                    
                    <app-curso  *ngIf="this.cursoForm.controls['curso'].value !='' && curso!=undefined" [curso]="curso" [tarifa]="tarifa" [dias]="cantDias" ></app-curso>
                    
                  </mat-card>
                  </div>
                  
                  <div  fxLayout="row" fxLayoutAlign="center center">
                    <button class="boton-semifinal" mat-raised-button color="primary" [disabled]="this.cursoForm.controls['dia'].value ==''" mat-button (click)="agregarCurso()">Seleccionar</button>
                    <button class="boton-semifinal" mat-raised-button color="primary" [disabled]="listaCursosNuevos[0] == undefined" mat-button (click)="nextStep(stepper)">Calcular monto</button>
                  </div>

                </div>
            
    
            
    
    
        
    
                <!-- calendario -->
              <div class="calendario" >
      
                  <app-calendar-main #calendario [listaCursosTotales]="listaCursosTotales" [mesCalendario]="mesCalendario"></app-calendar-main>
              
              </div>             
            </div>
            <!-- botones -->
            
          </div>
    
          
    
          
    
        </mat-step>
        
    
        <mat-step [editable]="false">
          <ng-template matStepLabel>Monto</ng-template>
    
          <div fxLayout="column" fxLayoutAlign="center center">
    
            <h3>Cursos inscritos</h3>
            <table mat-table [dataSource]="MONTO_CURSO_DATA"   class="mat-elevation-z8 demo-table">
              <ng-container matColumnDef="orden">
                  <th mat-header-cell *matHeaderCellDef> Orden </th>
                  <td mat-cell *matCellDef="let element"> {{element.orden}}
                      
                  </td>
                </ng-container>
                <ng-container matColumnDef="curso">
                  <th mat-header-cell *matHeaderCellDef> Curso </th>
                  <td mat-cell *matCellDef="let element"> {{element.curso}}
                
                  </td>
                </ng-container>
              
                <ng-container matColumnDef="dias">
                  <th mat-header-cell *matHeaderCellDef> Días </th>
                  <td mat-cell *matCellDef="let element"> {{element.dias}}
                      
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="monto">
                    <th mat-header-cell *matHeaderCellDef> Monto </th>
                    <td mat-cell *matCellDef="let element"> {{element.monto | currency: 'S/. '}}
                     
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      
          <button class="boton-monto" mat-raised-button color="primary"  mat-button (click)="realizarPago(stepper)"> Total a cancelar : {{totalPagar | currency: 'S/. ' }}</button>
      
          </div>
    
          
    
        </mat-step>
    
        
        <mat-step [editable]="false">
          <ng-template matStepLabel>Pago</ng-template>

          <div  fxLayout="column" fxLayoutAlign="center center">

            <app-pasarela #pasarela *ngIf="listaDeCursosPrecios[0] != undefined" [monto]="totalPagar" [listaPagosPrecio]="listaDeCursosPrecios" [idUsuario]="idUsuario" (pagoAceptado)="pagoAceptado($event,stepper)" ></app-pasarela>
    
            <button class="boton-monto" mat-raised-button color="primary"  mat-button (click)="matricula()">Pagar</button>

          </div>

          
    
        </mat-step>
    
        <mat-step [editable]="false">
          <ng-template matStepLabel>Matricula finalizada</ng-template>
          
          <div fxLayout="column" fxLayoutAlign="center center">
            <p>Se ha inscrito satisfactoriamente</p>
            <button mat-button  mat-raised-button color="primary" [routerLink] = "['/matricula/dashboard']">Regresar al perfil</button>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card>

</div>
  

