<div class="container">
    <h4>Curso seleccionado</h4>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{curso.name | titlecase}}</mat-card-title>
                <mat-card-subtitle>Periodo: {{curso.month | titlecase}} {{curso.year}}</mat-card-subtitle>
                <mat-card-subtitle>Profesor: {{curso.instructor | titlecase }}</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content >
            <div *ngIf="tarifa!=0">
                Monto por mes: {{tarifa | currency: 'S/. ' }} por {{dias}} clases
            </div>
            
        </mat-card-content>
    </mat-card>



</div>





