<div fxLayout="column" fxLayoutAlign="space-evenly center">
          
    <form [formGroup]="mesForm">
      <mat-form-field class="input-propiedades" appearance="outline">
        <mat-label>Mes</mat-label>
        <mat-select formControlName="mes" (selectionChange)="seleccionMes()">
            <mat-option *ngFor="let mes of meses" [value]="mes.periodo_fecha" >
                {{mes.mes}} - {{mes.ano}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </form>


  </div>



<div class="calendario" >
      
    <app-calendar-main #calendario [listaCursosTotales]="listaCursos" [mesCalendario]="mesCalendario"></app-calendar-main>

</div>        