.calendario{
    margin: 20px;
    height: 80%;
    width: 75%;
    padding: 50px;
    margin-top:10px;
    background-color:rgb(255, 255, 255);
    border-radius: 4px;
  }

  .input-propiedades{
    margin-top: 30px;
  }
  @media (min-width: 768px) {
    .calendario{
      width: 800px
    }
  }