mat-card{
    width: 50%;
    height: 60%;
    margin: 5%;
}
.loader-spinner{
    position:absolute;
    z-index: 200;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    align-items: center;
    background-color:rgba(248, 183, 18, 0.668);
    
}
.icon{
    width: 70%;
    padding: 20px;
}
.red-snack{
    width: 500px;
    background: rgb(231, 120, 120) !important;
}
.gray-snack{
    width: 500px;
    background: azure !important;
}
.green-snack{
    max-width: 100% !important;
    width: 100% !important;
    background: rgb(179, 218, 121) !important;
}

@media (max-width: 768px) {

    mat-card{
        width: 75%;
        height: 60%;
        margin: 8%;
        padding: 8px;
    }

    .pueta-input{
        width: 300px !important;
        background-color: blue !important; 
    }
}

