.loader-spinner{
    position:absolute;
    z-index: 200;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    align-items: center;
    background-color:rgba(248, 183, 18, 0.668);
    
}
.icon{
    width: 35%;
    padding: 20px;
}
.boton-search{
    height: 60px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: aquamarine;
}


@media (max-width: 768px) {

    mat-card{
        width: 90%;
        height: 60%;
        padding: 8px;
        margin: 20px;
    }

    .pueta-input{
        width: 300px !important;
      
    }
}

@media (min-width: 768px) {

    mat-card{
        width: 40%;
        height: 60%;
        padding: 15px;
        margin: 20px;
    }

    .pueta-input{
        width: 300px !important;
     
    }

    .icon{
        width: 35%;
        padding: 20px;
    }
}

.puerta-input {
  width: 100%; /* Asegura que el ancho sea consistente */
  max-width: 300px; /* Limita el ancho máximo */
  margin: 10px 0; /* Espaciado vertical */
}

.mat-form-field {
  background-color: #fff; /* Fondo blanco para evitar conflictos */
  border-radius: 4px; /* Bordes redondeados */
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ccc; /* Color del borde */
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-color: #0062ff; /* Color del borde cuando está activo */
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 4px; /* Bordes redondeados */
}

.mat-select {
  color: #333; /* Color del texto */
}

.mat-select:hover {
  background-color: #f0f0f0; /* Fondo al pasar el mouse */
}

.mat-select-panel {
  background-color: #fff; /* Fondo del panel desplegable */
  color: #333; /* Color del texto del panel */
  border: 1px solid #ccc; /* Borde del panel */
}

