<div class="container">
  <mat-card class="card-login">
    <!-- Logo -->
    <div class="logo">
      <img
        src="https://static.wixstatic.com/media/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png/v1/fill/w_352,h_226,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png"
        alt="Logo"
      />
    </div>

    <!-- Title -->
    <h2 class="login-title">Registro</h2>

    
    <form [formGroup]="registerForm">
        <!-- Email Input -->
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="correo" required />
            <mat-error *ngIf="registerForm.controls['correo'].hasError('email')">
                Ingrese un correo válido
            </mat-error>
            <mat-error *ngIf="registerForm.controls['correo'].hasError('required')">
                Ingrese un correo
            </mat-error>
        </mat-form-field>
        
        <!-- Password Input -->
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input
            type="password"
            [type]="hide ? 'password' : 'text'"
            matInput
            formControlName="contrasena"
            required
            />
            <mat-icon matSuffix (click)="hide = !hide">
                {{ hide ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <mat-error *ngIf="registerForm.controls['contrasena'].hasError('required')">
                Contraseña requerida
            </mat-error>
            <mat-error *ngIf="registerForm.controls['contrasena'].hasError('minlength')">
                Ingrese una contraseña válida
            </mat-error>
        </mat-form-field>
        
        <!-- DNI Input -->
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>DNI / CE</mat-label>
            <input matInput formControlName="dni" required />
            <mat-error *ngIf="registerForm.controls['dni'].hasError('minlength')">
                Ingrese un documento válido
            </mat-error>
            <mat-error *ngIf="registerForm.controls['dni'].hasError('required')">
                Ingrese un documento
            </mat-error>
        </mat-form-field>
        
        <!-- Additional Inputs -->
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="nombre" required />
            <mat-error *ngIf="registerForm.controls['nombre'].hasError('required')">
                Ingrese un nombre
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>Apellido paterno</mat-label>
            <input matInput formControlName="apellidop" required />
            <mat-error *ngIf="registerForm.controls['apellidop'].hasError('required')">
                Ingrese un apellido paterno
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>Apellido materno</mat-label>
            <input matInput formControlName="apellidom" required />
            <mat-error *ngIf="registerForm.controls['apellidom'].hasError('required')">
                Ingrese un apellido materno
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono" required />
            <mat-error *ngIf="registerForm.controls['telefono'].hasError('required')">
                Ingrese un teléfono
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob" required />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="registerForm.controls['dob'].hasError('required')">
                Ingrese una fecha de nacimiento
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo" required>
                <mat-option *ngFor="let sexo of listaSexos" [value]="sexo">{{ sexo }}</mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['sexo'].hasError('required')">
                Seleccione un sexo
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion" required />
            <mat-error *ngIf="registerForm.controls['direccion'].hasError('required')">
                Ingrese una dirección
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>Relación con el colegio</mat-label>
            <mat-select formControlName="relacion" required>
                <mat-option *ngFor="let relacion of listaRelaciones" [value]="relacion">
                    {{ relacion }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['relacion'].hasError('required')">
                Seleccione una relación
            </mat-error>
        </mat-form-field>
        
        <!-- Mensaje de error -->
        <div *ngIf="mensajeError" class="error-message">
          {{ mensajeError }}
        </div>
        <!-- Submit Button -->
        <button class="boton-login" [disabled]="registerForm.invalid" (click)="checkForm()" mat-button>
            Registrar
        </button>
        
        <!-- Back Button -->
        <div class="extra-buttons">
            <button mat-button class="back-button" routerLink="/">Volver</button>
        </div>
    </form>
</mat-card>
</div>