.container {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.filters {
    width: 300px;
    padding: 30px;
}

.welcome-text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
}

.table {
    padding: 20px;

}

/* Structure */
.example-container {
    position: relative;
}

.example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}


.example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

.success-icon {
    color: #28a745;
    transform: scale(1.5)
}

.error-icon {
    color: #d32f2f;
    transform: scale(1.5)
}

.terms {
  font-size: 0.8rem;
  color: #555;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.terms a {
  color: #3f51b5;
  text-decoration: underline;
}

.terms a:hover {
  text-decoration: none;
}

.warning-text {
  color: #e53935; /* red */
  font-size: 0.85rem;
  margin-top: 8px;
}