<div class="container" fxLayoutAlign="center center">
    <div>
        <mat-card>
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field appearance="outline">
                    <mat-label>Selecciona el curso</mat-label>
                    <mat-select (selectionChange)="buscarCurso()">
                        <mat-option >
                            Curso
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card>

    </div>
</div>