<div class="container animate__animated animate__fadeIn animate__fast" >
    <div class="logo"><img src="https://static.wixstatic.com/media/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png/v1/fill/w_352,h_226,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png"></div>
    <p class="welcome-text">¡Bienvenido <span> {{usuario.nombre}}</span>!</p>
    <p class="welcome-subtext">Elige una de las opciones </p> 

    <div fxLayout="row"  fxLayout.lt-md="column" fxLayoutGap="50" fxLayoutAlign="center center">
        <div>
            <button [routerLink] = "['/matricula']" class="button-82-pushable" role="button">
                <span class="button-82-shadow"></span>
                <span class="button-82-edge"></span>
                <span class="button-82-front text">
                    <a [routerLink] = "['/matricula']" style="padding:10px">
                        <div style="margin-bottom:20px"> Matricula </div> 
                        <div style="height: 25px"> </div>
                        <div > <mat-icon >assignment_ind</mat-icon>  </div>
                    </a>
                </span>
            </button>
        </div>
        <div>
            <button [routerLink] = "['/matricula/cursos']" class="button-82-pushable" role="button">
                <span class="button-82-shadow"></span>
                <span class="button-82-edge"></span>
                <span class="button-82-front text">
                    <a [routerLink] = "['/matricula/cursos']" style="padding:10px">
                        <div style="margin-bottom:20px"> Mis cursos</div> 
                        <div style="height: 25px"> </div>
                        <div > 	<mat-icon >assignment</mat-icon>  </div>
                    </a>
                </span>
            </button>
        </div>
        
        
    </div>
    <div style="margin: 40px;">
        <button (click)="logout()" routerLink="login" class="button-83-pushable" role="button">
            <span class="button-83-shadow"></span>
            <span class="button-83-edge"></span>
            <span class="button-83-front text">
            
                    <div>Cerrar sesión</div> 
                
            </span>
        </button>
    </div>

</div>
