<div class="container">
  <div class="header">
    <img
      src="https://static.wixstatic.com/media/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png/v1/fill/w_352,h_226,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png"
      alt="School Logo"
      class="logo"
    />
    <h1 class="title">Sistema de Pagos Digitales</h1>
  </div>

  <div class="button-grid">
    <button class="action-button" routerLink="/admin/crear-lista-pago">
      <mat-icon>add_circle</mat-icon>
      Crear Lista de Pago
    </button>
    <button class="action-button" routerLink="/admin/edit-lista-pago">
      <mat-icon>edit</mat-icon>
      Editar Lista de Pago
    </button>
    <button class="action-button" routerLink="/admin/reportería">
      <mat-icon>bar_chart</mat-icon>
      Reportería
    </button>
  </div>
</div>
