<div class="container">
    <div class='method-card' id='method-card'>
        <div class='method-card__images'>
            <img class="logo-tarjeta" src="assets/images/visa.png" alt="visa">
            <img class="logo-tarjeta" src="assets/images/mastercard.png" alt="mastercard">
            <img class="logo-tarjeta" src="assets/images/ae.png" alt="american-express">
            <img class="logo-tarjeta" src="assets/images/diners.png" alt="diners">
        </div>

        <p class='method-card__description'>
            Pago seguro con Cobrana. Te llevaremos al formulario de Niubiz y volverás aquí al terminar.
        </p>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" style="vertical-align: middle; color: red" *ngIf="errorFlag">
        <mat-icon style="vertical-align: middle;">info</mat-icon>
        <span>{{ errorMessage }}</span>
    </div>

    <button class="boton-monto" mat-raised-button color="primary" [disabled]="procesando" (click)="sendSignal()">Pagar</button>
</div>
