<div class="container"  fxLayout="column"  fxLayoutAlign="center center" >
    <div class="logo"><img src="https://static.wixstatic.com/media/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png/v1/fill/w_352,h_226,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png"></div>
    <p class="welcome-text">Panel de administración </p>
    <p class="welcome-subtext">Elige una de las opciones </p> 

    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
      
        <div routerLink="/admin/codigo" class="div-card" >
                <mat-card >
                    <div fxLayout="column" >
                        <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                            Gestión de Códigos
                        </div>
                       <div>
                           <mat-icon>recent_actors</mat-icon>
                       </div>
    
                    </div>
                </mat-card>
        </div>
       
        <div routerLink="/admin/alumnos" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                        Ver alumnos matriculados
                    </div>
                   <div>
                    <mat-icon>person</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>

        <div routerLink="/admin/matricula-extemporanea" class="div-card">
            <mat-card >
                <div fxLayout="column">
                    <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                        Matricula extemporanea
                    </div>
                   <div>
                    <mat-icon>add_to_queue</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>

        <div routerLink="/admin/creacion" class="div-card">
            <mat-card >
                <div fxLayout="column">
                    <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                        Gestión de cursos
                    </div>
                   <div>
                    <mat-icon>add_to_queue</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>
<!-- 
    <div routerLink="/admin/cursos" class="div-card">
        <mat-card >
            <div fxLayout="column" >
                <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                    Gestión de Cursos
                </div>
               <div>
                <mat-icon>list</mat-icon>
               </div>

            </div>
        </mat-card>
    </div>
-->

        <div routerLink="/admin/parametros" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                        Gestión de Parametros
                    </div>
                   <div>
                    <mat-icon>settings</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>

        <div routerLink="/admin/reporte-general" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                       Reporte general pagos
                    </div>
                   <div>
                    <mat-icon>list</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>
        
        
    </div>
    <div style="margin: 40px;">
        <button (click)="logout()" routerLink="login" class="button-83-pushable" role="button">
            <span class="button-83-shadow"></span>
            <span class="button-83-edge"></span>
            <span class="button-83-front text">
            
                    <div>Cerrar sesión</div> 
                
            </span>
        </button>
    </div>

</div>
