/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body { height: 100%; overflow:auto; background-image: linear-gradient(0deg, #FFB322 19.53125%, #EE7F12 100%);
font-family: 'Roboto', sans-serif;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.loader-spinner{
    position:absolute;
    z-index: 200;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    align-items: center;
    background-color:rgba(248, 183, 18, 0.668);
    
}
.snackbar-error button {
    background: #9d9d9d !important ;
    color: rgb(0, 0, 0) !important;
    border: none;
    color: rgb(0, 0, 0) !important ;
    font-weight: bold; 
}
.snackbar-fail button {
    background-color: #F44336;
    color: rgb(0, 0, 0) !important;
    border: none;
    color: rgb(0, 0, 0) !important ;
    font-weight: bold; 
}
.snackbar-success button {
    background-color: #36f44f;
    color: rgb(0, 0, 0) !important;
    border: none;
    color: rgb(0, 0, 0) !important ;
    font-weight: bold;
}
.snackbar-error div{
    background: #9d9d9d !important ;
    color: rgb(0, 0, 0) !important ;
    font-weight: bold;
}
.snackbar-fail div{
    background: #F44336 !important ;
    color: rgb(0, 0, 0) !important ;
    font-weight: bold;
}

.snackbar-success div{
    background:  #36f44f !important ;
    color: rgb(0, 0, 0) !important ;
    font-weight: bold;
}