<div style="margin:20px">

    <div style="margin:20px;" fxLayout="column" fxLayoutAlign="start">
        <button routerLink="/" mat-button style="transform:scale(2);"> 
          <mat-icon >home</mat-icon>
        </button> 
    </div>
    <p class="welcome-text">
        ACTIVE MODE TÉRMINOS Y CONDICIONES DE LOS TALLERES
    </p>
    <b>De la Inscripción</b><br>
    Las inscripciones las podrán realizar de forma presencial o virtual ingresando a la página web www.activemodeperu.com  <br>
    Las inscripciones se realizarán según horario, frecuencia y cupos disponible que figure en cada actividad. <br>
    Las inscripciones pueden ser de periodicidad mensual o hasta trimestrales, si desea continuar deberá renovarla de acuerdo a los plazos establecidos.<br>
    Los talleres presentan sus propios cupos, edades, niveles y horarios vigentes.<br>
    Los aforos máximos varían dependiendo del taller a inscribirse.<br>
    Completada la inscripción se generará un código QR identificador del participante registrado.<br>
    La entidad no asume responsabilidad por inasistencia a clases, no se permite recuperación de clases, cambio de fecha, ni devolución de dinero.<br>
    <br>
    <br>
    <b>Del  Ingreso</b><br>
    Solo se permitirá el ingreso a las instalaciones a las personas inscritas en los talleres en el horario que se encuentran inscritos.<br>
    En el caso de menores solo se permite el ingreso de un acompañante.<br>
    Para poder ingresar, los inscritos deben presentar su código QR y DNI para identificarse y poder registrarse. <br>
    En el caso de menores inscritos es responsabilidad del padre, madre o tutor cualquier daño material o personal que se cause dentro de las instalaciones. En el caso de adultos, serán responsables ellos mismos.<br>
    La entidad no se responsabiliza por pérdidas o daños a sus pertenencias.<br>
    Cada inscrito deberá traer su toalla y/o botella personal para rehidratarse.<br>
    Al final de la sesión los inscritos tendrán un plazo de quince (15) minutos para poder retirarse de las instalaciones. El incumplimiento del plazo puede originar restricciones de ingreso a las instalaciones.<br>
    <br>
    <br>
    <b>Condiciones generales</b><br>
    Quien suscribe, en condición de padre, madre, tutor o alumno declaró lo siguiente:<br>
    Asumo responsabilidad y compromiso con la observancia de buenas costumbres y respeto, teniendo en cuenta las normas de convivencia social.<br>
    El inscrito goza de buena salud física, mental y se encuentra apto para la práctica de actividad física.<br>
    Exonero de toda responsabilidad a Servicios Educativos San José de Monterrico S.A., de cualquier hecho que pudiera afectar a la salud con motivo de la práctica de actividad física.<br>
    Los inscritos deberán respetar los términos y condiciones establecidos por la entidad, en caso de no cumplir perderán el cupo asignado y no habrá devolución del monto pagado.<br>
    La entidad se reserva el derecho de admisión.<br>
    <br>
    <br>
    <b>Libro de reclamaciones</b><br>
    <a href="https://www.sjm.edu.pe/appdoc/formulario.php">Click aquí</a>
    <br> 
    <br> 
    <b>Política de cookies</b><br>
    El sistema web no está utilizando cookies del usuario para su funcionamiento
    <br>
    <br>

    <b>Política de privacidad:</b><br> 
    La Política de Privacidad deberá señalar qué tratamiento tendrán los datos que proporcionaron los usuarios y el compromiso del proveedor de resguardarlos y conservarlos, en cumplimiento a la normativa de protección de datos personales.<br>
    Obtención de consentimientos para el tratamiento de datos personales, en caso sea aplicable. <br>
    Obtención de consentimiento para compartir datos personales con terceros, en caso sea aplicable. <br>
    Explicación de derechos ARCO de los usuarios. <br>
    <br> 
    <br> 
   

</div>

