<div style="margin:20px"  class="animate__animated animate__fadeIn animate__fast">

    <div style="margin:20px;" fxLayout="column" fxLayoutAlign="start">
        <button routerLink="/" mat-button style="transform:scale(2);"> 
          <mat-icon >home</mat-icon>
        </button> 
    </div>
    <p class="welcome-text">
        ACTIVE MODE TÉRMINOS Y CONDICIONES 
    </p>
    <br>
    <div>
        <b class="mini-title">Acuerdo</b><br>
        <p>
            1.	SERVICIOS EDCUCATIVOS SAN JOSÉ DE MONTERRICO S.A. con RUC 20196818236 ubicado en Jr. Tomasal N°355 – Santiago de Surco, representada por la Sra. Eliana Yamashiro Nakamura identificada con DNI N°08, promueve los talleres deportivos y artísticos ACTIVE MODE. 
        </p>
    
        <p>
            2. En ACTIVE MODE se ofrecerá una metodología de enseñanza orientada a los diversos tipos de aprendizaje para las disciplinas deportivas y artísticas, perfeccionar sus fundamentos técnicos, desarrollar habilidades y potenciar sus capacidades físicas. Asimismo, propiciar un espacio recreativo, socializador con práctica de valores que permitan ejemplarizar hábitos de vida saludable.
            ACTIVE MODE se orienta a dos segmentos de atención, uno para estudiantes desde los 8 años hasta los 12 en un primer bloque comprendido en el horario de 5:00 a 6:00 pm, y otro de 13 años a más de 6:00 a 7:00 pm. En el segundo segmento, se oferta la atención al sector adulto en el horario de 7:00 a 9:00 pm.
        </p>
        <p>
            3.	Las inscripciones las podrán realizar de forma presencial o virtual ingresando a la página web www.activemodeperu.com
        </p>
        <p>
            4.	Las inscripciones se realizarán según horario, frecuencia y cupos disponible que figure en cada actividad.
        </p>
        <p>
            5.	Las inscripciones pueden ser de periodicidad mensual o hasta trimestrales, si desea continuar deberá renovarla de acuerdo con los plazos establecidos.
        </p>
        <p>
            6.	Los talleres presentan sus propios cupos, edades, niveles y horarios vigentes.
        </p>
        <p>
            7.	Los aforos máximos varían dependiendo del taller a inscribirse.
        </p>
       <p>
           8.	Solo se permitirá el ingreso a las instalaciones a las personas inscritas en los talleres en el horario que se encuentran inscritos y siempre que hayan realizado el pago respectivo.
       </p>
        <p>
            9.	En el caso de menores de 14 años se permitirá el ingreso de un solo acompañante.
        </p>
        <p>
            10.	En el caso de menores de edad inscritos es responsabilidad del padre, madre o tutor cualquier daño material o personal que se cause dentro de las instalaciones. En el caso de adultos, son responsables ellos mismos.  
            La entidad no ofrece ningún tipo de seguro de accidentes, por lo que se recomienda a todos los inscritos contar con uno. 
            De no contratar un seguro de accidentes o de no encontrarse vigente, los inscritos (o sus padres y/o apoderados en caso de menores de edad) asumen toda responsabilidad de las consecuencias y costos que deriven de un eventual accidente que puedan sufrir. Asimismo, es de su cargo toda suma no cubierta por la póliza de seguros.    
        </p>
        <p>
            11.	La entidad no se responsabiliza por pérdidas o daños a sus pertenencias.
        </p>
       <p>
           12.	El participante asume la responsabilidad y compromiso de mantener, en todo momento, las buenas costumbres y respeto, teniendo en cuenta las normas de convivencia social. La Entidad se reserva el derecho de ingreso de las personas que no cumplen con esta norma. Asimismo, requerirá el retiro de las instalaciones en esos casos.
       </p>
       <p>
           13.	La entidad recomienda que antes de inscribirse, los inscritos revisen su estado de salud con un médico, y que les confirme que están aptos para los talleres en los que se inscribirán. El inscrito declara que goza de buena salud física, mental y se encuentra apto para la práctica de actividad física y exonera de toda responsabilidad a Servicios Educativos San José de Monterrico S.A., de cualquier hecho que pudiera afectar a la salud por motivo de la práctica de actividad física.
       </p>
       <p>
           14.	Los inscritos deberán respetar los términos y condiciones establecidos por la entidad, en caso de no cumplir perderán el cupo asignado y no habrá devolución del monto pagado.
       </p>
       <p>
           15.	La entidad no ofrece vigilancia externa por lo que no asume responsabilidad alguna por daños personales o materiales que pudieran ocurrir al momento del ingreso o salida de nuestras instituciones, tales como robos personales, choques, robos de autopartes y/o de vehículos y/o de bienes dentro de vehículos.
       </p>
       <p>
           16.	Políticas de devolución, ante la inasistencia a clases, no habrá derecho a recuperación de clases, ni cambio de fecha, ni devolución de dinero. Se realizará la devolución de la inscripción siempre y cuando se informe, vía correo electrónico, 72 horas antes de la primera clase del mes.
       </p>
       <p>
           17.	Atención al cliente e información de contacto, se realizará por la página web www.activemodeperu.com, escribiendo al WhatsApp 960192400 o por email activemode@sjm.edu.pe. 
       </p>
       <p>
        18.	Todos los pagos con tarjetas de créditos se manejan con la pasarela de pagos de OPENPAY.
        </p>
        <p>
            Nos reservamos el derecho de modificar, adicionar y/o complementar estas normas. Todas estas modificaciones adicionales y demás entrarán en vigor inmediatamente, salvo disposición expresa en contrario. La desobediencia o violación de las disposiciones de estos Términos y Condiciones podrá dar lugar a la suspensión temporal o expulsión definitiva de los usuarios infractores, con la correspondiente cancelación de los derechos del afiliado, así como también en los casos en que su comportamiento sea considerado molesto, perturbador, inmoral o fraudulento.
        </p>
        <b class="mini-title">Libro de reclamaciones</b><br>
        <a href="https://www.sjm.edu.pe/appdoc/formulario.php">Click aquí</a>
        <br> 
        <br> 
        <b class="mini-title">Política de cookies</b><br>
        El sistema web no está recogiendo cookies del usuario para su funcionamiento
        <br>
       
        <p>
            <b >
                Sobre la Obtención y Tratamiento de Datos Personales
            </b>
        <p>
            La obtención de los datos personales se realiza a través de los formularios que el usuario proporcione a la página web. Los mismos forman parte de nuestro banco de datos, los cuales son almacenados en los servicios de nube de Heroku. Los datos personales a los que SERVICIOS EDCUCATIVOS SAN JOSÉ DE MONTERRICO tendrá acceso serán aquellos que el titular facilite voluntariamente; todo tratamiento de datos personales se realizará previo consentimiento libre, expreso, inequívoco e informado de su titular, con el objetivo de ofrecer servicios cada vez más óptimos. La negatividad a proporcionar los mismos supondrá la imposibilidad de acceder al servicio para los que eran solicitados.
        </p>
        <p>
            SERVICIOS EDCUCATIVOS SAN JOSÉ DE MONTERRICO solo realizará tratamiento de los datos personales de menores de edad con el previo consentimiento válido aceptado previamente por sus padres o tutores.
        </p>
        <p>
            <b >
                Sobre la Transferencia de los Datos Personales 
            </b>
        </p>
        <p>
            SERVICIOS EDCUCATIVOS SAN JOSÉ DE MONTERRICO no está transfiriendo los datos a ninguna otra institución. Reserva estos para los propios fines de la empresa y no los compartirá con ningún tercero.
        </p>
        <p>
            <b >
                Sobre el Plazo de Conservación de los Datos Personales 
            </b>
            
        </p>
        <p>
            Los datos personales serán conservados durante el tiempo necesario para la realización de los fines para los que fueron obtenidos.
        </p>
        <p>
            <b>
                Sobre los Derechos ARCO 
            </b>
          
        </p>
        <p>
            SERVICIOS EDCUCATIVOS SAN JOSÉ DE MONTERRICO garantiza la atención de los derechos protegidos, los cuales pueden ser ejercidos en cualquier momento. El usuario podrá ejercer sus derechos de información, acceso, rectificación, cancelación y oposición, contactándose con por correo a activemode@sjm.edu.pe.
        </p>

    </div>

</div>

