<div class="container"  fxLayout="column"  fxLayoutAlign="center center" >
    <div class="logo"><img src="https://static.wixstatic.com/media/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png/v1/fill/w_352,h_226,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png"></div>
    <p class="welcome-text">Panel de parametros </p>
    <p class="welcome-subtext">Elige una de las opciones </p> 

    <div fxLayout="row warp" fxFlex="100" fxLayoutAlign="center center">
      
        <div routerLink= "./cursos" class="div-card" >
                <mat-card >
                    <div fxLayout="column" >
                        <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                            Parmetro cursos
                        </div>
                       <div>
                           <mat-icon>recent_actors</mat-icon>
                       </div>
    
                    </div>
                </mat-card>
        </div>
       
        <div routerLink="./dia" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                        Parmetro dias a la semana
                    </div>
                   <div>
                    <mat-icon>person</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>
        <div routerLink="./periodos" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                        Parametro periodos-matrícula
                    </div>
                   <div>
                    <mat-icon>list</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>

        <div routerLink="./roles" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                        Parametro roles
                    </div>
                   <div>
                    <mat-icon>settings</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>

        <div routerLink="./tipo-usuarios" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                        Parametro tipos usuarios
                    </div>
                   <div>
                    <mat-icon>settings</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>

        <div routerLink="./niveles" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 30px 0px 30px 0px; font-weight: bold;">
                        Parametro niveles por horario
                    </div>
                   <div>
                    <mat-icon>settings</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>
        
        
        
    </div>

</div>
