
<div class="container"  fxLayout="column"  fxLayoutAlign="center center" >
    <div class="logo"><img src="https://static.wixstatic.com/media/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png/v1/fill/w_352,h_226,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/97d28e_339b04fc9273415095136139cc3ab7ad~mv2.png"></div>
    <p class="welcome-text">Panel de parametros </p>
    <p class="welcome-subtext">Elige una de las opciones </p> 

    <div fxLayout="row warp" fxFlex="100" fxLayoutAlign="center center">
      
        <div routerLink= "./cursos" class="div-card" >
                <mat-card >
                    <div fxLayout="column" >
                        <div style="margin: 20px 0px 30px 0px; font-weight: bold;">
                            Definir cursos
                        </div>
                       <div>
                           <mat-icon>school</mat-icon>
                       </div>
    
                    </div>
                </mat-card>
        </div>
       
        <div routerLink="./dia" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 20px 0px 30px 0px; font-weight: bold;">
                        Definir días y frecuencias
                    </div>
                   <div>
                    <mat-icon>date_range</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>
        <div routerLink="./periodos" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 20px 0px 30px 0px; font-weight: bold;">
                        Definir meses de matrícula
                    </div>
                   <div>
                    <mat-icon>list</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>

        <div routerLink="./roles" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 20px 0px 30px 0px; font-weight: bold;">
                        Definir roles
                    </div>
                   <div>
                    <mat-icon>people</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>

        <div routerLink="./tipo-usuarios" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 20px 0px 30px 0px; font-weight: bold;">
                        Definir tipos de usuarios
                    </div>
                   <div>
                    <mat-icon>people_outline</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>

        <div routerLink="./niveles" class="div-card">
            <mat-card >
                <div fxLayout="column" >
                    <div style="margin: 20px 0px 30px 0px; font-weight: bold;">
                        Definir horarios disponibles
                    </div>
                   <div>
                    <mat-icon>access_time</mat-icon>
                   </div>

                </div>
            </mat-card>
        </div>

        
    </div>

    <div style="margin:20px; width: 15px;" fxLayout="row" fxLayoutAlign="center center">
        <button routerLink="../dashboard" mat-button style="transform:scale(2);"> 
          <mat-icon style="margin-left:20px; color: rgb(0, 0, 0)">keyboard_arrow_left</mat-icon>
        </button> 
      </div>

</div>
